body {
  background-image: linear-gradient(
    to top,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}
.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper {
  max-width: 330px;
  width: 100%;
  height: 350px;
  padding: 40px;
  box-shadow: transparent;
  border-radius: 5px;
  box-shadow: 2px 3px 6px rgba(12, 0, 0, 0.237);
}
.main {
  max-width: 330px;
  width: 100%;
  height: 450px;
  padding: 40px;
  box-shadow: 2px 3px 6px rgba(12, 0, 0, 0.237);
  border-radius: 5px;
}
.wrapper,
.login,
.register {
  display: flex;
  flex-direction: column;
}
label {
  text-align: left;
  padding: 15px 0px;
  font-size: 19px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input {
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  height: 17px;
  width: 300px;
  font-size: 17px;
}

.togglebtn {
  border: none;
  padding: 13px;
  background: none;
  font-size: 13px;
}
form button {
  margin: 30px 20px;
  border: none;
  padding: 15px;
  font-size: 17px;
  background-color: rgba(9, 220, 23, 0.676);
  border-radius: 5px;
  cursor: pointer;
}
.clklogin {
  text-decoration: underline;
  cursor: pointer;
}
